<div class="container">
    <div class="row">
        <div class="span12">
            <h3> Edit Student Details</h3>
        </div>
    </div>


    <%= render 'edit_student_form' %>

    <div class="row">
        <div class="span12">
            <div style="border: 1px #f5f5f5 solid;margin:10px 0 10px 0"></div>
        </div>
    </div>

    <%= render 'edit_student_gender_form' %>

    <div class="row">
        <div class="span12">
            <div style="border: 1px #f5f5f5 solid;margin:10px 0 10px 0"></div>
        </div>
    </div>

    <%= render 'edit_student_result_form' %>





</div>