<div class="container">
<div class="row">
        <div class="span6">
            <div class="control-group">
                <%= label_tag :postal_code %>
                <div class="controls">
                    <input type="text" id="course_postal_code" autocomplete="off" placeholder="Enter Postal Code" >
                    <input type="hidden" id="course_postal_code_hidden" name="course[postal_code]" />
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <%= label :postal_code, :class => 'control-label' %>
                <div class="controls">
                    <input type="text" id="course_postal_code" autocomplete="off" placeholder="Enter Postal Code" >
                    <input type="hidden" id="course_postal_code_hidden" name="course[postal_code]" />
                </div>
            </div>
        </div>
    </div>
</div>





