<%- model_class = Venue -%>
<div class="span5">
    <h3> Listing Venues</h3>
    <table class="table table-striped">
        <tr>
            <th> Name </th>
            <th> Town</th>
            <th> State</th>
            <th> Room Name</th>
            <th> Room Cost</th>
            <th> Room Setup</th>
            <th> Capacity</th>
            <th> Screen</th>
            <th> WhiteBoard?</th>
            <th> Catering</th>
            <th> Lunch?</th>
            <th> Notes</th>
        </tr>


    </table>
</div>






