<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <tr>
                <th> CT Code </th>
                <th> Date </th>
                <th> Course Status </th>
                <th>  </th>
                <th>  </th>
            </tr>


            <tr>
                <td> <%= @course.course_code %></td>
                <td> <%= l @course.course_date %></td>
                <td> <% if @course.course_status  %>
                        Closed
                    <% else %>
                        Open
                    <% end %>
                </td>
                <td> <%= link_to "Merge file", merge_course_path(id: @course.id, format: "csv"), :class => 'btn btn-primary btn-mini'%></td>
                </td>
            </tr>

        </table>
    </div>
</div>

