<table class="table table-striped">
    <tr>
        <th> CT Code </th>
        <th> Trainer </th>
        <th> Town </th>
        <th> State </th>
        <th> AQF II </th>
        <th> AQF III </th>
        <th> AQF IV </th>
        <th> NYC </th>
    </tr>


    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>

</table>