<table class="table table-striped">
    <tr>
        <th> First Name</th>
        <th> Last Name </th>
        <th> Course Status </th>
        <th> </th>
    </tr>

    <% @course.each do |course| %>
        <% course.student_course_details.each do |course_detail| %>
    <tr>
        <% student = course_detail.student %>
        <td><%= course_detail.student.student_biodata.first_name %></td>
        <td><%= course_detail.student.student_biodata.last_name %></td>
        <td><%= course_detail.paid == 1 ? "paid":"not paid" %></td>
        <td> <%= link_to "Edit", edit_student_path(student, :course_id => course.id), :class => 'btn btn-mini' %></td>
    </tr>
        <% end %>
    <% end %>
</table>