<table class="table table-striped">
    <tr>
        <th> First Name</th>
        <th> Last Name </th>
        <th> Course Status </th>
        <th> Student Status </th>
        <th> </th>
    </tr>

    <% @course.each do |course| %>
        <% course.student_course_details.where('enquiry in (?)',[1,2]).each do |course_detail| %>
    <tr>
        <% student = course_detail.student %>
        <td><%= course_detail.student.student_biodata.first_name %></td>
        <td><%= course_detail.student.student_biodata.last_name %></td>
        <td><%= course_detail.paid ? "paid":"not paid" %></td>
        <% if course_detail.enquiry == 0  %>
            <td> Enquiry </td>
        <% elsif course_detail.enquiry == 1  %>
            <td> Enrolment </td>
        <% else course_detail.enquiry == 2  %>
            <td> Completed </td>
        <% end %>
        <td> <%= link_to "Edit", edit_student_path(student, :from_process => true), :target => "_blank", :class => 'btn btn-mini' %></td>
    </tr>
        <% end %>
    <% end %>
</table>