<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="pull-right"><a href="#">Powered by : g33kb0ne</a></li>
        </ul>
    </div>
</div>
